---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Activate License">
  <div>To activate your license:</div>
  <ol>
    <li>Have the VS Code extension installed.</li>
    <li>Open the command palette (Ctrl+Shift+P or Cmd+Shift+P).</li>
    <li>Select "Dynasty Theme: Activate License".</li>
    <li>Enter your license key when prompted.</li>
  </ol>
</MainLayout>
