---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Purchase License">
  <div class="h-screen bg-(--dyNeutralBgMain) py-20">
    <div class="mx-auto max-w-210">
      <h1 class="text-4xl font-semibold">Purchase License</h1>
      <div class="mt-3 max-w-100">
        <p>Purchase a license in order to use Dynasty Theme indefinitely</p>
        <a
          href="https://store.dynasty.ely.al/buy/4c388104-0e42-4d95-8766-cf317ed2e3a9?discount=0"
          class="mt-8 block w-fit rounded-md bg-(--dyPrimary700) px-8 py-3 text-xl font-semibold text-(--dyNeutralTextBright)"
        >
          Go to Checkout
        </a>
      </div>
    </div>
  </div>
</MainLayout>
