---
import "../styles/global.css";
import palette from "../../assets/palette/palette-none.json";
import NavBar from "../components/NavBar.astro";

const { title }: { title?: string } = Astro.props;
const genTitle = title ? `${title} | Dynasty Theme` : "Dynasty Theme";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/icon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />

    <title>{genTitle}</title>
  </head>
  <body class="bg-(--dyNeutralBgMain) font-mono text-(--dyNeutralFgAlt)">
    <NavBar />
    <slot />
  </body>
</html>

<style
  define:vars={{
    dyNeutralFgBright: palette.dyNeutralFgBright,
    dyNeutralFgMain: palette.dyNeutralFgMain,
    dyNeutralFgAlt: palette.dyNeutralFgAlt,
    dyNeutralFgDim: palette.dyNeutralFgDim,
    dyNeutralBorder: palette.dyNeutralBorder,
    dyNeutralBgSub: palette.dyNeutralBgSub,
    dyNeutralBgAlt: palette.dyNeutralBgAlt,
    dyNeutralBgMain: palette.dyNeutralBgMain,

    dyPrimary050: palette.dyPrimary050,
    dyPrimary100: palette.dyPrimary100,
    dyPrimary200: palette.dyPrimary200,
    dyPrimary300: palette.dyPrimary300,
    dyPrimary400: palette.dyPrimary400,
    dyPrimary500: palette.dyPrimary500,
    dyPrimary600: palette.dyPrimary600,
    dyPrimary700: palette.dyPrimary700,
    dyPrimary800: palette.dyPrimary800,
    dyPrimary900: palette.dyPrimary900,
    dyPrimary950: palette.dyPrimary950,

    dySyntaxType: palette.dySyntaxType,
    dySyntaxOperator: palette.dySyntaxOperator,
    dySyntaxKeyword: palette.dySyntaxKeyword,
    dySyntaxSpecial: palette.dySyntaxSpecial,
    dySyntaxFunction: palette.dySyntaxFunction,
    dySyntaxString: palette.dySyntaxString,
    dySyntaxNumber: palette.dySyntaxNumber,
  }}
></style>
