---
import "../styles/global.css";
import NavBar from "../components/NavBar.astro";
import FooterSection from "../components/FooterSection.astro";
import iconSvg from "../../../_shared/figma/icon-gradient.svg";

interface Props {
  title?: string;
}
const { title } = Astro.props;
const genTitle = title ? `${title} | Dynasty Theme` : "Dynasty Theme";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href={iconSvg.src} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />

    <title>{genTitle}</title>
  </head>
  <body class="bg-dyAliasBgAlt font-mono text-dyAliasText">
    <NavBar />
    <slot />
    <FooterSection />
  </body>
</html>
