<pre>
<span class="TOKEN_keyword">package</span> <span class="TOKEN_type">mux_test</span>

<span class="TOKEN_keyword">import</span> <span class="TOKEN_punctuation">(</span>
	<span class="TOKEN_string">"</span><span class="TOKEN_type">fmt</span><span class="TOKEN_string">"</span>
	<span class="TOKEN_string">"</span><span class="TOKEN_type">github.com/gorilla/mux</span><span class="TOKEN_string">"</span>
<span class="TOKEN_punctuation">)</span>

<span class="TOKEN_comment">// This example demonstrates building a dynamic URL using</span>
<span class="TOKEN_comment">// required vars and values retrieve from another source</span>
<span class="TOKEN_keyword">func</span> <span class="TOKEN_function">ExampleRoute_GetVarNames</span><span class="TOKEN_punctuation">()</span> <span class="TOKEN_punctuation">{'{'}</span>
	r <span class="TOKEN_operator">:=</span> mux<span class="TOKEN_punctuation">.</span><span class="TOKEN_function">NewRouter</span><span class="TOKEN_punctuation">()</span>

	route <span class="TOKEN_operator">:=</span> r<span class="TOKEN_punctuation">.</span><span class="TOKEN_function">Host</span><span class="TOKEN_punctuation">(</span><span class="TOKEN_string">"{'{'}domain{'}'}"</span><span class="TOKEN_punctuation">)</span><span class="TOKEN_punctuation">.</span>
		<span class="TOKEN_function">Path</span><span class="TOKEN_punctuation">(</span><span class="TOKEN_string">"/{'{'}group{'}'}/{'{'}item_id{'}'}"</span><span class="TOKEN_punctuation">)</span><span class="TOKEN_punctuation">.</span>
		<span class="TOKEN_function">Queries</span><span class="TOKEN_punctuation">(</span><span class="TOKEN_string">"some_data1"</span><span class="TOKEN_punctuation">,</span> <span class="TOKEN_string">"{'{'}some_data1{'}'}"</span><span class="TOKEN_punctuation">)</span><span class="TOKEN_punctuation">.</span>
		<span class="TOKEN_function">Queries</span><span class="TOKEN_punctuation">(</span><span class="TOKEN_string">"some_data2_and_3"</span><span class="TOKEN_punctuation">,</span> <span class="TOKEN_string">"{'{'}some_data2{'}'}.{'{'}some_data3{'}'}"</span><span class="TOKEN_punctuation">)</span>

	dataSource <span class="TOKEN_operator">:=</span> <span class="TOKEN_keyword">func</span><span class="TOKEN_punctuation">(</span><span class="TOKEN_parameter">key</span> <span class="TOKEN_keyword">string</span><span class="TOKEN_punctuation">)</span> <span class="TOKEN_keyword">string</span> <span class="TOKEN_punctuation">{'{'}</span>
		<span class="TOKEN_keyword">return</span> <span class="TOKEN_string">"my_value_for_"</span> <span class="TOKEN_operator">+</span> <span class="TOKEN_parameter">key</span>
	<span class="TOKEN_punctuation">{'}'}</span>

	varNames<span class="TOKEN_punctuation">,</span> _ <span class="TOKEN_operator">:=</span> route<span class="TOKEN_punctuation">.</span><span class="TOKEN_function">GetVarNames</span><span class="TOKEN_punctuation">()</span>

	pairs <span class="TOKEN_operator">:=</span> <span class="TOKEN_special">make</span><span class="TOKEN_punctuation">(</span><span class="TOKEN_punctuation">[]</span><span class="TOKEN_keyword">string</span><span class="TOKEN_punctuation">,</span> <span class="TOKEN_number">0</span><span class="TOKEN_punctuation">,</span> <span class="TOKEN_special">len</span><span class="TOKEN_punctuation">(</span>varNames<span class="TOKEN_punctuation">)</span><span class="TOKEN_operator">*</span><span class="TOKEN_number">2</span><span class="TOKEN_punctuation">)</span>

	<span class="TOKEN_keyword">for</span> _<span class="TOKEN_punctuation">,</span> varName <span class="TOKEN_operator">:=</span> <span class="TOKEN_keyword">range</span> varNames <span class="TOKEN_punctuation">{'{'}</span>
		pairs <span class="TOKEN_operator">=</span> <span class="TOKEN_special">append</span><span class="TOKEN_punctuation">(</span>pairs<span class="TOKEN_punctuation">,</span> varName<span class="TOKEN_punctuation">,</span> <span class="TOKEN_function">dataSource</span><span class="TOKEN_punctuation">(</span>varName<span class="TOKEN_punctuation">))</span>
	<span class="TOKEN_punctuation">{'}'}</span>

	url<span class="TOKEN_punctuation">,</span> err <span class="TOKEN_operator">:=</span> route<span class="TOKEN_punctuation">.</span><span class="TOKEN_function">URL</span><span class="TOKEN_punctuation">(</span>pairs<span class="TOKEN_operator">...</span><span class="TOKEN_punctuation">)</span>
	<span class="TOKEN_keyword">if</span> err <span class="TOKEN_operator">!=</span> <span class="TOKEN_keyword">nil</span> <span class="TOKEN_punctuation">{'{'}</span>
		<span class="TOKEN_special">panic</span><span class="TOKEN_punctuation">(</span>err<span class="TOKEN_punctuation">)</span>
	<span class="TOKEN_punctuation">{'}'}</span>
	fmt<span class="TOKEN_punctuation">.</span><span class="TOKEN_function">Println</span><span class="TOKEN_punctuation">(</span>url<span class="TOKEN_punctuation">.</span><span class="TOKEN_function">String</span><span class="TOKEN_punctuation">())</span>
<span class="TOKEN_punctuation">{'}'}</span>
</pre>
