<pre>
<span class="TOKEN_punctuation">&lt;!</span><span class="TOKEN_function">DOCTYPE</span> <span class="TOKEN_operator">html</span><span class="TOKEN_punctuation">&gt;</span>
<span class="TOKEN_punctuation">&lt;</span><span class="TOKEN_function">html</span><span class="TOKEN_punctuation">&gt;</span>
  <span class="TOKEN_punctuation">&lt;</span><span class="TOKEN_function">head</span><span class="TOKEN_punctuation">&gt;</span>
    <span class="TOKEN_punctuation">&lt;</span><span class="TOKEN_function">style</span><span class="TOKEN_punctuation">&gt;</span>

      <span class="TOKEN_function">body</span> <span class="TOKEN_punctuation">{'{'}</span>
        <span class="TOKEN_type">font-family</span><span class="TOKEN_punctuation">:</span> <span class="TOKEN_keyword">Arial</span><span class="TOKEN_punctuation">;</span>
        <span class="TOKEN_type">margin</span><span class="TOKEN_punctuation">:</span> <span class="TOKEN_number">40</span><span class="TOKEN_keyword">px</span><span class="TOKEN_punctuation">;</span>
      <span class="TOKEN_punctuation">{'}'}</span>

      <span class="TOKEN_operator">.box</span> <span class="TOKEN_punctuation">{'{'}</span>
        <span class="TOKEN_type">padding</span><span class="TOKEN_punctuation">:</span> <span class="TOKEN_number">20</span><span class="TOKEN_keyword">px</span><span class="TOKEN_punctuation">;</span>
        <span class="TOKEN_type">background</span><span class="TOKEN_punctuation">:</span> <span class="TOKEN_keyword">#eee</span><span class="TOKEN_punctuation">;</span>
        <span class="TOKEN_type">border-radius</span><span class="TOKEN_punctuation">:</span> <span class="TOKEN_number">6</span><span class="TOKEN_keyword">px</span><span class="TOKEN_punctuation">;</span>
      <span class="TOKEN_punctuation">{'}'}</span>

      <span class="TOKEN_function">h1</span> <span class="TOKEN_punctuation">{'{'}</span>
        <span class="TOKEN_type">color</span><span class="TOKEN_punctuation">:</span> <span class="TOKEN_keyword">#333</span><span class="TOKEN_punctuation">;</span>
      <span class="TOKEN_punctuation">{'}'}</span>

    <span class="TOKEN_punctuation">&lt;/</span><span class="TOKEN_function">style</span><span class="TOKEN_punctuation">&gt;</span>
  <span class="TOKEN_punctuation">&lt;/</span><span class="TOKEN_function">head</span><span class="TOKEN_punctuation">&gt;</span>
  <span class="TOKEN_punctuation">&lt;</span><span class="TOKEN_function">body</span><span class="TOKEN_punctuation">&gt;</span>
    <span class="TOKEN_punctuation">&lt;</span><span class="TOKEN_function">div</span> <span class="TOKEN_operator">class</span><span class="TOKEN_punctuation">=</span><span class="TOKEN_string">"box"</span><span class="TOKEN_punctuation">&gt;</span>
      <span class="TOKEN_punctuation">&lt;</span><span class="TOKEN_function">h1</span><span class="TOKEN_punctuation">&gt;</span>Hello<span class="TOKEN_punctuation">&lt;/</span><span class="TOKEN_function">h1</span><span class="TOKEN_punctuation">&gt;</span>
      <span class="TOKEN_punctuation">&lt;</span><span class="TOKEN_function">p</span><span class="TOKEN_punctuation">&gt;</span>This is a basic HTML + CSS example.<span class="TOKEN_punctuation">&lt;/</span><span class="TOKEN_function">p</span><span class="TOKEN_punctuation">&gt;</span>
    <span class="TOKEN_punctuation">&lt;/</span><span class="TOKEN_function">div</span><span class="TOKEN_punctuation">&gt;</span>
  <span class="TOKEN_punctuation">&lt;/</span><span class="TOKEN_function">body</span><span class="TOKEN_punctuation">&gt;</span>
<span class="TOKEN_punctuation">&lt;/</span><span class="TOKEN_function">html</span><span class="TOKEN_punctuation">&gt;</span>
</pre>
