<pre>
<span class="TOKEN_keyword">pub use</span> <span class="TOKEN_type">text</span><span class="TOKEN_operator">::</span><span class="TOKEN_punctuation">{'{'}</span><span class="TOKEN_type">GlyphCache</span><span class="TOKEN_punctuation">,</span> <span class="TOKEN_type">LoaderApi</span><span class="TOKEN_punctuation">{'}'};</span>

<span class="TOKEN_keyword">use</span> <span class="TOKEN_type">shader</span><span class="TOKEN_operator">::</span><span class="TOKEN_type">ShaderVersion</span><span class="TOKEN_punctuation">;</span>
<span class="TOKEN_keyword">use</span> <span class="TOKEN_type">text</span><span class="TOKEN_operator">::</span><span class="TOKEN_punctuation">{'{'}</span><span class="TOKEN_type">Gles2Renderer</span><span class="TOKEN_punctuation">,</span> <span class="TOKEN_type">Glsl3Renderer</span><span class="TOKEN_punctuation">,</span> <span class="TOKEN_type">TextRenderer</span><span class="TOKEN_punctuation">{'}'};</span>

<span class="TOKEN_comment">/// Whether the OpenGL functions have been loaded.</span>
<span class="TOKEN_keyword">pub static</span> GL_FUNS_LOADED<span class="TOKEN_operator">:</span> <span class="TOKEN_type">AtomicBool</span> <span class="TOKEN_operator">=</span> <span class="TOKEN_type">AtomicBool</span><span class="TOKEN_operator">::</span><span class="TOKEN_function">new</span><span class="TOKEN_punctuation">(</span><span class="TOKEN_keyword">false</span><span class="TOKEN_punctuation">);</span>

<span class="TOKEN_punctuation">#[</span><span class="TOKEN_special">derive</span><span class="TOKEN_punctuation">(</span><span class="TOKEN_type">Debug</span><span class="TOKEN_punctuation">)]</span>
<span class="TOKEN_keyword">pub enum</span> <span class="TOKEN_type">Error</span> <span class="TOKEN_punctuation">{'{'}</span>
    <span class="TOKEN_comment">/// Shader error.</span>
    <span class="TOKEN_operator">Shader</span><span class="TOKEN_punctuation">(</span><span class="TOKEN_type">ShaderError</span><span class="TOKEN_punctuation">),</span>

    <span class="TOKEN_comment">/// Other error.</span>
    <span class="TOKEN_operator">Other</span><span class="TOKEN_punctuation">(</span><span class="TOKEN_type">String</span><span class="TOKEN_punctuation">),</span>
<span class="TOKEN_punctuation">{'}'}</span>

<span class="TOKEN_keyword">impl</span> <span class="TOKEN_type">std</span><span class="TOKEN_operator">::</span><span class="TOKEN_type">error</span><span class="TOKEN_operator">::</span><span class="TOKEN_type">Error</span> <span class="TOKEN_keyword">for</span> <span class="TOKEN_type">Error</span> <span class="TOKEN_punctuation">{'{'}</span>
    <span class="TOKEN_keyword">fn</span> <span class="TOKEN_function">source</span><span class="TOKEN_punctuation">(</span><span class="TOKEN_operator">&</span><span class="TOKEN_keyword">self</span><span class="TOKEN_punctuation">)</span> <span class="TOKEN_operator">-></span> <span class="TOKEN_type">Option</span><span class="TOKEN_punctuation">&lt;</span><span class="TOKEN_operator">&</span><span class="TOKEN_punctuation">(</span><span class="TOKEN_keyword">dyn</span> <span class="TOKEN_type">std</span><span class="TOKEN_operator">::</span><span class="TOKEN_type">error</span><span class="TOKEN_operator">::</span><span class="TOKEN_type">Error</span> <span class="TOKEN_operator">+</span> <span class="TOKEN_keyword">'static</span><span class="TOKEN_punctuation">)&gt;</span> <span class="TOKEN_punctuation">{'{'}</span>
        <span class="TOKEN_keyword">match self</span> <span class="TOKEN_punctuation">{'{'}</span>
            <span class="TOKEN_type">Error</span><span class="TOKEN_operator">::Shader</span><span class="TOKEN_punctuation">(</span>err<span class="TOKEN_punctuation">)</span> <span class="TOKEN_operator">=&gt;</span> err<span class="TOKEN_operator">.</span><span class="TOKEN_function">source</span><span class="TOKEN_punctuation">(),</span>
            <span class="TOKEN_type">Error</span><span class="TOKEN_operator">::Other</span><span class="TOKEN_punctuation">(</span>_<span class="TOKEN_punctuation">)</span> <span class="TOKEN_operator">=&gt;</span> <span class="TOKEN_operator">None</span><span class="TOKEN_punctuation">,</span>
        <span class="TOKEN_punctuation">{'}'}</span>
    <span class="TOKEN_punctuation">{'}'}</span>
<span class="TOKEN_punctuation">{'}'}</span>

<span class="TOKEN_keyword">impl</span> <span class="TOKEN_type">fmt</span><span class="TOKEN_operator">::</span><span class="TOKEN_type">Display</span> <span class="TOKEN_keyword">for</span> <span class="TOKEN_type">Error</span> <span class="TOKEN_punctuation">{'{'}</span>
    <span class="TOKEN_keyword">fn</span> <span class="TOKEN_function">fmt</span><span class="TOKEN_punctuation">(</span><span class="TOKEN_operator">&</span><span class="TOKEN_keyword">self</span><span class="TOKEN_punctuation">,</span> <span class="TOKEN_parameter">f</span><span class="TOKEN_operator">: &</span><span class="TOKEN_keyword">mut</span> <span class="TOKEN_type">fmt</span><span class="TOKEN_operator">::</span><span class="TOKEN_type">Formatter</span><span class="TOKEN_punctuation">&lt;</span><span class="TOKEN_keyword">'_</span><span class="TOKEN_punctuation">&gt;)</span> <span class="TOKEN_operator">-&gt;</span> <span class="TOKEN_type">fmt</span><span class="TOKEN_operator">::</span><span class="TOKEN_type">Result</span> <span class="TOKEN_punctuation">{'{'}</span>
        <span class="TOKEN_keyword">match self</span> <span class="TOKEN_punctuation">{'{'}</span>
            <span class="TOKEN_type">Error</span><span class="TOKEN_operator">::Shader</span><span class="TOKEN_punctuation">(</span>err<span class="TOKEN_punctuation">)</span> <span class="TOKEN_operator">=&gt;</span> <span class="TOKEN_punctuation">{'{'}</span>
                <span class="TOKEN_special">write!</span><span class="TOKEN_punctuation">(</span><span class="TOKEN_parameter">f</span><span class="TOKEN_punctuation">,</span> <span class="TOKEN_string">"There was an error initializing the shaders:</span> <span class="TOKEN_operator">{'{'}</span>err<span class="TOKEN_operator">{'}'}</span><span class="TOKEN_string">"</span><span class="TOKEN_punctuation">)</span>
            <span class="TOKEN_punctuation">{'}'},</span>
            <span class="TOKEN_type">Error</span><span class="TOKEN_operator">::Other</span><span class="TOKEN_punctuation">(</span>err<span class="TOKEN_punctuation">)</span> <span class="TOKEN_operator">=&gt;</span> <span class="TOKEN_punctuation">{'{'}</span>
                <span class="TOKEN_special">write!</span><span class="TOKEN_punctuation">(</span><span class="TOKEN_parameter">f</span><span class="TOKEN_punctuation">,</span> <span class="TOKEN_string">"</span><span class="TOKEN_operator">{'{'}</span>err<span class="TOKEN_operator">{'}'}</span><span class="TOKEN_string">"</span><span class="TOKEN_punctuation">)</span>
            <span class="TOKEN_punctuation">{'}'},</span>
        <span class="TOKEN_punctuation">{'}'}</span>
    <span class="TOKEN_punctuation">{'}'}</span>
<span class="TOKEN_punctuation">{'}'}</span>
</pre>
