@theme {
  --color-*: initial;

  --color-dyNeutralTextBright: #e4e3ed;
  --color-dyNeutralTextMain: #c2c0d5;
  --color-dyNeutralTextAlt: #a09dbd;
  --color-dyNeutralTextDim: #6b6787;
  --color-dyNeutralBorder: #353346;
  --color-dyNeutralBgSub: #252334;
  --color-dyNeutralBgAlt: #1b1a28;
  --color-dyNeutralBgMain: #100f1a;
  --color-dyPrimary050: #f5f4fe;
  --color-dyPrimary100: #eae8fe;
  --color-dyPrimary200: #d8d4fd;
  --color-dyPrimary300: #b7acfc;
  --color-dyPrimary400: #a391fa;
  --color-dyPrimary500: #8b75e3;
  --color-dyPrimary600: #7862cb;
  --color-dyPrimary700: #6554ab;
  --color-dyPrimary800: #54458e;
  --color-dyPrimary900: #453974;
  --color-dyPrimary950: #2d2253;
  --color-dySyntaxType: #e9b35e;
  --color-dySyntaxOperator: #e68650;
  --color-dySyntaxKeyword: #ec5962;
  --color-dySyntaxSpecial: #9877cf;
  --color-dySyntaxFunction: #5a8cd9;
  --color-dySyntaxString: #67b9dc;
  --color-dySyntaxNumber: #88bc6a;
}
