@import "tailwindcss";

@custom-variant violet (&:where(.violet, .violet *));

@theme {
  --color-*: initial;

  --color-debug: #f0f;
  --color-debugAlt: #f00;

  --font-mono: "Google Sans Code", monospace;
  --spacing: 4px;
}

/* this import needs to be after the `--color-*: initial;` declaration */
@import "../../tailwind-theme/tailwind-theme.css";

@layer base {
  :root {
    color-scheme: dark;
  }

  button {
    cursor: pointer;
  }

  .TOKEN_comment {
    color: var(--color-dyNeutralTextDim);
  }
  .TOKEN_punctuation {
    color: var(--color-dyNeutralTextAlt);
  }
  .TOKEN_type {
    color: var(--color-dySyntaxType);
  }
  .TOKEN_operator {
    color: var(--color-dySyntaxOperator);
  }
  .TOKEN_keyword {
    color: var(--color-dySyntaxKeyword);
  }
  .TOKEN_special {
    color: var(--color-dySyntaxSpecial);
  }
  .TOKEN_function {
    color: var(--color-dySyntaxFunction);
  }
  .TOKEN_string {
    color: var(--color-dySyntaxString);
  }
  .TOKEN_number {
    color: var(--color-dySyntaxNumber);
  }
  .TOKEN_parameter {
    font-style: italic;
  }
}
