@import "tailwindcss";

@theme {
  --font-mono: "Google Sans Code", monospace;
  --spacing: 4px;

  /* --color-*: initial; */
}

@layer base {
  :root {
    color-scheme: dark;
  }

  button {
    cursor: pointer;
  }

  .TOKEN_comment {
    color: var(--dyNeutralTextDim);
  }
  .TOKEN_punctuation {
    color: var(--dyNeutralTextAlt);
  }
  .TOKEN_type {
    color: var(--dySyntaxType);
  }
  .TOKEN_operator {
    color: var(--dySyntaxOperator);
  }
  .TOKEN_keyword {
    color: var(--dySyntaxKeyword);
  }
  .TOKEN_special {
    color: var(--dySyntaxSpecial);
  }
  .TOKEN_function {
    color: var(--dySyntaxFunction);
  }
  .TOKEN_string {
    color: var(--dySyntaxString);
  }
  .TOKEN_number {
    color: var(--dySyntaxNumber);
  }
  .TOKEN_parameter {
    font-style: italic;
  }
}
