---
import GoPreview from "../previews/GoPreview.astro";
import HtmlCssPreview from "../previews/HtmlCssPreview.astro";
import RustPreview from "../previews/RustPreview.astro";
import TypescriptPreview from "../previews/TypescriptPreview.astro";
---

<div
  class="border-t border-(--dyNeutralBorder) bg-(--dyNeutralBgAlt) pt-55 pb-30"
>
  <div class="mx-auto max-w-210 px-3">
    <h2 class="mb-6 text-3xl font-semibold text-(--dyNeutralFgAlt)">
      Code Preview
    </h2>
    <div
      class="overflow-hidden rounded-lg border border-(--dyNeutralBorder) bg-(--dyNeutralBgMain)"
    >
      <div
        class="flex h-10 items-center border-b border-(--dyNeutralBorder) bg-(--dyNeutralBgAlt) px-4"
      >
        <select
          id="preview-select"
          class="w-32 bg-(--dyNeutralBgAlt) text-(--dyNeutralFgAlt)"
        >
          <option selected>TypeScript</option>
          <option>HTML & CSS</option>
          <option>Rust</option>
          <option>Go</option>
        </select>
      </div>
      <div class="overflow-x-auto p-4 text-(--dyNeutralFgMain)">
        <div id="typescript-preview">
          <TypescriptPreview />
        </div>
        <div id="html-css-preview" class="hidden">
          <HtmlCssPreview />
        </div>
        <div id="rust-preview" class="hidden">
          <RustPreview />
        </div>
        <div id="go-preview" class="hidden">
          <GoPreview />
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const select = document.getElementById("preview-select") as HTMLSelectElement;

  const previews = {
    TypeScript: document.getElementById("typescript-preview"),
    "HTML & CSS": document.getElementById("html-css-preview"),
    Rust: document.getElementById("rust-preview"),
    Go: document.getElementById("go-preview"),
  };

  select.addEventListener("change", () => {
    const selected = select.value;

    for (const key in previews) {
      const preview = previews[key as keyof typeof previews];
      if (key === selected) {
        preview?.classList.remove("hidden");
      } else {
        preview?.classList.add("hidden");
      }
    }
  });
</script>
