<div class="border-t border-(--dyNeutralBorder) bg-(--dyNeutralBgAlt)">
  <div class="mx-auto max-w-210 px-3 py-3 text-center">
    <p class="text-xs text-(--dyNeutralTextDim)">
      Copyright (c) 2025
      <a
        href="https://ely.al"
        target="_blank"
        rel="noopener noreferrer"
        class="text-(--dyNeutralTextAlt) underline-offset-2 hover:text-(--dyNeutralTextMain) hover:underline"
        >Ely Alon</a
      >
    </p>
  </div>
</div>
