<div class="border-t border-(--n700) bg-(--n900)">
  <div class="mx-auto max-w-210 px-3 py-3 text-center">
    <p class="text-xs text-(--n300)">
      Copyright (c) 2025
      <a
        href="https://ely.al"
        target="_blank"
        rel="noopener noreferrer"
        class="text-(--n200) underline-offset-2 hover:text-(--n100) hover:underline"
        >Ely Alon</a
      >
    </p>
  </div>
</div>
