---
import DynastyHeader from "../../../assets/figma/heading.svg";
---

<div class="grid h-[85vh] place-items-center">
  <div class="flex flex-col gap-2 pt-14 max-md:gap-0">
    <div class="flex flex-col gap-2">
      <div class="flex items-center justify-center px-4">
        <DynastyHeader
          class="shrink-0 -translate-y-2 select-none max-md:w-80 max-md:-translate-y-1"
        />
      </div>
    </div>
    <div class="text-center text-lg text-(--n300) max-md:text-base">
      A high-contrast VS Code theme<br />designed for clarity.
    </div>
  </div>
</div>
