---

---

<div id="purchase" class="border-t border-(--n700) bg-(--n950) px-5 py-40">
  <div class="mx-auto max-w-200">
    <div
      class="flex justify-between max-md:flex-col max-md:gap-10 md:items-center"
    >
      <div class="min-w-70">
        <h2 class="mb-4 text-3xl font-bold text-(--n100)">Purchase</h2>
        <ul class="list-disc pl-5 leading-relaxed text-(--n200)">
          <li><strong>12.50$</strong> one time purchase</li>
          <li>Lifetime access & updates</li>
          <li>
            Support <a href="ely.al" class="underline underline-offset-2">me</a>
            :)
          </li>
        </ul>
      </div>
      <div>
        <a
          href="https://store.dynasty.ely.al/buy/a0fd4fe7-9b96-41cb-8d3f-363556001129?discount=0"
          class="rounded-md bg-(--dyPrimaryDark) px-8 py-4 text-lg text-(--n050) max-md:w-full"
        >
          Purchase Dynasty Theme
        </a>
      </div>
    </div>
    <div class="">
      <h2 class="mt-16 mb-2 text-2xl font-bold text-(--n200) max-md:mt-24">
        Try It
      </h2>
      <!-- TODO: Add vscode extension URL -->
      <p class="max-w-100">
        A 14-day free trial is available. Simply install the <a
          href=""
          class="underline underline-offset-4">Dynasty Theme</a
        > VS Code extension to start your trial.
      </p>
    </div>
  </div>
</div>
