<div class="border-t border-dyAliasBorder bg-dyAliasBgAlt">
  <div class="mx-auto max-w-210 px-3 py-3 text-center">
    <p class="text-xs text-dyAliasTextDim">
      Copyright (c) 2025
      <a
        href="https://ely.al"
        target="_blank"
        rel="noopener noreferrer"
        class="text-dyAliasText hover:text-dyAliasTextLink">Ely Alon</a
      >
    </p>
  </div>
</div>
