---
import DynastyWordmark from "../../../_shared/figma/heading.svg";
import Vscode from "../assets/vscode.svg";
import tiltedImg from "../../../_shared/external/tilted.jpg";
import { Store } from "@lucide/astro";
---

<div
  class="relative grid h-[90vh] grid-rows-3 bg-(--dyNeutralBgMain) max-md:h-[82vh]"
>
  <div class="pointer-events-none absolute h-[40%] w-full select-none">
    <img
      src={tiltedImg.src}
      class="absolute h-full w-full object-cover object-top-left"
    />
    <div
      class="absolute inset-0 bg-linear-to-t from-(--dyNeutralBgMain) to-transparent"
    >
    </div>
  </div>

  <div
    class="relative bg-linear-to-b from-(--dyNeutralBgMain) to-transparent to-30%"
  >
  </div>
  <div
    class="relative flex flex-col justify-center gap-2 overflow-hidden max-md:gap-1"
  >
    <div class="flex flex-col gap-2">
      <div class="flex items-center justify-center">
        <DynastyWordmark class="shrink-0 select-none max-md:scale-80" />
      </div>
    </div>
    <div class="text-center text-lg text-(--dyNeutralTextDim) max-md:text-base">
      A high-contrast color theme<br />designed for <strong>clarity</strong>.
    </div>
  </div>
  <div
    class="relative flex items-center justify-center gap-4 max-md:flex-col max-md:gap-3 max-md:px-8"
  >
    <a
      href="vscode:extension/elyalon.dynasty-theme"
      class="flex items-center justify-center gap-2 rounded-md bg-(--dyPrimary700) py-4 font-semibold text-(--dyNeutralTextBright) max-md:w-full max-md:py-2.5 md:px-8 md:text-xl"
    >
      <Vscode class="size-5.5 max-md:size-4.5" />
      <div>Install for VS Code</div>
    </a>
    <a
      href="https://marketplace.visualstudio.com/items?itemName=elyalon.dynasty-theme"
      target="_blank"
      class="flex items-center justify-center gap-2 rounded-md bg-(--dyNeutralBgSub) py-4 font-semibold text-(--dyNeutralTextAlt) max-md:w-full max-md:py-2.5 md:px-8 md:text-xl"
    >
      <Store class="size-6 max-md:size-5" />
      <div>Go to Marketplace</div>
    </a>
  </div>
</div>
