---
import DynastyIcon from "../../../_figma/icon-flat-mono.svg";
---

<div
  class="sticky top-0 z-100 h-10 w-full border-b border-(--n700) bg-(--n900) text-(--n200)"
>
  <div class="mx-auto flex h-full max-w-220 items-center justify-between px-6">
    <a href="" class="group font-semibold">
      <DynastyIcon
        width={20}
        height={20}
        class="inline-block shrink-0 -translate-y-[0.2px] select-none"
      />
      <span class="group-hover:underline">Dynasty</span>
    </a>
    <div class="flex gap-8">
      <a href="#purchase" class="hover:underline">Purchase</a>
    </div>
  </div>
</div>
