---
interface Props {
  href: string;
  text: string;
}
const { href, text } = Astro.props;
---

<a
  href={href}
  class="flex h-full items-center gap-1.5 px-3.5 text-dyAliasText hover:bg-dyAliasText/15 hover:text-dyAliasText"
>
  <div>
    <slot name="icon" />
  </div>
  <div>{text}</div>
</a>
