<div
  id="purchase"
  class="border-t border-dyNeutralBorder bg-dyNeutralBgMain px-5 py-40"
>
  <div class="mx-auto max-w-200">
    <div
      class="flex justify-between max-md:flex-col max-md:gap-10 md:items-center"
    >
      <div class="min-w-70">
        <h2 class="mb-4 text-3xl font-bold text-dyNeutralTextMain">
          Purchase License
        </h2>
        <ul class="list-disc pl-5 leading-relaxed text-dyNeutralTextAlt">
          <li><strong>12.50$</strong> one time purchase</li>
          <li>Remove popups</li>
          <li>
            Support <a href="ely.al" class="underline underline-offset-2">me</a>
            :)
          </li>
        </ul>
      </div>
      <div>
        <a
          href="https://store.dynasty.ely.al/buy/4c388104-0e42-4d95-8766-cf317ed2e3a9?discount=0"
          class="rounded-md bg-dyPrimary700 px-8 py-4 text-lg font-semibold text-dyNeutralTextBright max-md:w-full"
        >
          Purchase Dynasty Theme
        </a>
      </div>
    </div>
  </div>
</div>
