@theme {
  --color-dySyntaxType: #e0aa55;
  --color-dySyntaxOperator: #df814b;
  --color-dySyntaxKeyword: #eb5a62;
  --color-dySyntaxSpecial: #9877cf;
  --color-dySyntaxFunction: #578de2;
  --color-dySyntaxString: #7cad60;
  --color-dySyntaxNumber: #c987c3;
  --color-dyScaleNeutral01: #000000;
  --color-dyScaleNeutral02: #000000;
  --color-dyScaleNeutral03: #000000;
  --color-dyScaleNeutral04: #000000;
  --color-dyScaleNeutral05: #000001;
  --color-dyScaleNeutral06: #000102;
  --color-dyScaleNeutral07: #010103;
  --color-dyScaleNeutral08: #010204;
  --color-dyScaleNeutral09: #010205;
  --color-dyScaleNeutral10: #020307;
  --color-dyScaleNeutral11: #02040a;
  --color-dyScaleNeutral12: #03060d;
  --color-dyScaleNeutral13: #04070f;
  --color-dyScaleNeutral14: #050912;
  --color-dyScaleNeutral15: #060b15;
  --color-dyScaleNeutral16: #070d18;
  --color-dyScaleNeutral17: #080f1b;
  --color-dyScaleNeutral18: #0a121e;
  --color-dyScaleNeutral19: #0c1421;
  --color-dyScaleNeutral20: #0d1625;
  --color-dyScaleNeutral21: #0f1828;
  --color-dyScaleNeutral22: #111b2b;
  --color-dyScaleNeutral23: #131d2e;
  --color-dyScaleNeutral24: #141f31;
  --color-dyScaleNeutral25: #162235;
  --color-dyScaleNeutral26: #182438;
  --color-dyScaleNeutral27: #1b273a;
  --color-dyScaleNeutral28: #1d293d;
  --color-dyScaleNeutral29: #1f2c40;
  --color-dyScaleNeutral30: #212e43;
  --color-dyScaleNeutral31: #243146;
  --color-dyScaleNeutral32: #263349;
  --color-dyScaleNeutral33: #28364b;
  --color-dyScaleNeutral34: #2b384e;
  --color-dyScaleNeutral35: #2d3b51;
  --color-dyScaleNeutral36: #303e54;
  --color-dyScaleNeutral37: #324057;
  --color-dyScaleNeutral38: #34435a;
  --color-dyScaleNeutral39: #37465d;
  --color-dyScaleNeutral40: #394860;
  --color-dyScaleNeutral41: #3c4b63;
  --color-dyScaleNeutral42: #3e4e66;
  --color-dyScaleNeutral43: #415069;
  --color-dyScaleNeutral44: #44536c;
  --color-dyScaleNeutral45: #465670;
  --color-dyScaleNeutral46: #495973;
  --color-dyScaleNeutral47: #4b5b76;
  --color-dyScaleNeutral48: #4e5e79;
  --color-dyScaleNeutral49: #51617c;
  --color-dyScaleNeutral50: #53647f;
  --color-dyScaleNeutral51: #566782;
  --color-dyScaleNeutral52: #596a86;
  --color-dyScaleNeutral53: #5b6d89;
  --color-dyScaleNeutral54: #5e6f8c;
  --color-dyScaleNeutral55: #61728f;
  --color-dyScaleNeutral56: #647592;
  --color-dyScaleNeutral57: #677894;
  --color-dyScaleNeutral58: #6a7b96;
  --color-dyScaleNeutral59: #6e7e99;
  --color-dyScaleNeutral60: #71819b;
  --color-dyScaleNeutral61: #74849e;
  --color-dyScaleNeutral62: #7887a0;
  --color-dyScaleNeutral63: #7b8aa3;
  --color-dyScaleNeutral64: #7e8da5;
  --color-dyScaleNeutral65: #8290a7;
  --color-dyScaleNeutral66: #8593aa;
  --color-dyScaleNeutral67: #8896ac;
  --color-dyScaleNeutral68: #8c99af;
  --color-dyScaleNeutral69: #8f9cb1;
  --color-dyScaleNeutral70: #939fb4;
  --color-dyScaleNeutral71: #96a2b6;
  --color-dyScaleNeutral72: #99a5b9;
  --color-dyScaleNeutral73: #9da8bb;
  --color-dyScaleNeutral74: #a0acbe;
  --color-dyScaleNeutral75: #a4afc0;
  --color-dyScaleNeutral76: #a7b2c3;
  --color-dyScaleNeutral77: #abb5c5;
  --color-dyScaleNeutral78: #aeb8c7;
  --color-dyScaleNeutral79: #b2bbca;
  --color-dyScaleNeutral80: #b6becc;
  --color-dyScaleNeutral81: #b9c1cf;
  --color-dyScaleNeutral82: #bdc5d1;
  --color-dyScaleNeutral83: #c0c8d4;
  --color-dyScaleNeutral84: #c4cbd6;
  --color-dyScaleNeutral85: #c7ced9;
  --color-dyScaleNeutral86: #cbd1db;
  --color-dyScaleNeutral87: #cfd5de;
  --color-dyScaleNeutral88: #d2d8e1;
  --color-dyScaleNeutral89: #d6dbe3;
  --color-dyScaleNeutral90: #dadee6;
  --color-dyScaleNeutral91: #dde1e8;
  --color-dyScaleNeutral92: #e1e5eb;
  --color-dyScaleNeutral93: #e5e8ed;
  --color-dyScaleNeutral94: #e8ebf0;
  --color-dyScaleNeutral95: #eceff2;
  --color-dyScaleNeutral96: #f0f2f5;
  --color-dyScaleNeutral97: #f4f5f7;
  --color-dyScaleNeutral98: #f7f8fa;
  --color-dyScaleNeutral99: #fbfcfc;
  --color-dyScalePrimary01: #000000;
  --color-dyScalePrimary02: #000000;
  --color-dyScalePrimary03: #000000;
  --color-dyScalePrimary04: #000001;
  --color-dyScalePrimary05: #000002;
  --color-dyScalePrimary06: #000103;
  --color-dyScalePrimary07: #000105;
  --color-dyScalePrimary08: #000207;
  --color-dyScalePrimary09: #00020a;
  --color-dyScalePrimary10: #00030d;
  --color-dyScalePrimary11: #010411;
  --color-dyScalePrimary12: #010514;
  --color-dyScalePrimary13: #010718;
  --color-dyScalePrimary14: #01081b;
  --color-dyScalePrimary15: #020a1f;
  --color-dyScalePrimary16: #020c23;
  --color-dyScalePrimary17: #020e27;
  --color-dyScalePrimary18: #03102b;
  --color-dyScalePrimary19: #03122f;
  --color-dyScalePrimary20: #041433;
  --color-dyScalePrimary21: #041737;
  --color-dyScalePrimary22: #05193b;
  --color-dyScalePrimary23: #061b3f;
  --color-dyScalePrimary24: #071d43;
  --color-dyScalePrimary25: #071f47;
  --color-dyScalePrimary26: #08224c;
  --color-dyScalePrimary27: #092450;
  --color-dyScalePrimary28: #0a2654;
  --color-dyScalePrimary29: #0c2959;
  --color-dyScalePrimary30: #0d2b5d;
  --color-dyScalePrimary31: #0e2e62;
  --color-dyScalePrimary32: #0f3066;
  --color-dyScalePrimary33: #10326b;
  --color-dyScalePrimary34: #11356f;
  --color-dyScalePrimary35: #123774;
  --color-dyScalePrimary36: #133a79;
  --color-dyScalePrimary37: #153c7d;
  --color-dyScalePrimary38: #163f82;
  --color-dyScalePrimary39: #174187;
  --color-dyScalePrimary40: #18448c;
  --color-dyScalePrimary41: #194691;
  --color-dyScalePrimary42: #1b4995;
  --color-dyScalePrimary43: #1c4c9a;
  --color-dyScalePrimary44: #1d4e9f;
  --color-dyScalePrimary45: #1e51a4;
  --color-dyScalePrimary46: #2053a9;
  --color-dyScalePrimary47: #2156ae;
  --color-dyScalePrimary48: #2259b3;
  --color-dyScalePrimary49: #235bb8;
  --color-dyScalePrimary50: #255ebd;
  --color-dyScalePrimary51: #2661c2;
  --color-dyScalePrimary52: #2764c7;
  --color-dyScalePrimary53: #2866cd;
  --color-dyScalePrimary54: #2a69d2;
  --color-dyScalePrimary55: #2b6cd7;
  --color-dyScalePrimary56: #2c6fdc;
  --color-dyScalePrimary57: #2e71e1;
  --color-dyScalePrimary58: #2f74e7;
  --color-dyScalePrimary59: #3077ec;
  --color-dyScalePrimary60: #317af1;
  --color-dyScalePrimary61: #337df6;
  --color-dyScalePrimary62: #3480fc;
  --color-dyScalePrimary63: #3a83fc;
  --color-dyScalePrimary64: #4087fd;
  --color-dyScalePrimary65: #468bfd;
  --color-dyScalePrimary66: #4c8ffe;
  --color-dyScalePrimary67: #5192fe;
  --color-dyScalePrimary68: #5796ff;
  --color-dyScalePrimary69: #5c99ff;
  --color-dyScalePrimary70: #619dff;
  --color-dyScalePrimary71: #67a0ff;
  --color-dyScalePrimary72: #6ca4ff;
  --color-dyScalePrimary73: #71a7ff;
  --color-dyScalePrimary74: #77abff;
  --color-dyScalePrimary75: #7caeff;
  --color-dyScalePrimary76: #81b1ff;
  --color-dyScalePrimary77: #86b5ff;
  --color-dyScalePrimary78: #8cb8ff;
  --color-dyScalePrimary79: #91bcff;
  --color-dyScalePrimary80: #96bfff;
  --color-dyScalePrimary81: #9bc2ff;
  --color-dyScalePrimary82: #a0c5ff;
  --color-dyScalePrimary83: #a6c9ff;
  --color-dyScalePrimary84: #abccff;
  --color-dyScalePrimary85: #b0cfff;
  --color-dyScalePrimary86: #b5d2ff;
  --color-dyScalePrimary87: #bad6ff;
  --color-dyScalePrimary88: #c0d9ff;
  --color-dyScalePrimary89: #c5dcff;
  --color-dyScalePrimary90: #cadfff;
  --color-dyScalePrimary91: #cfe3ff;
  --color-dyScalePrimary92: #d5e6ff;
  --color-dyScalePrimary93: #dae9ff;
  --color-dyScalePrimary94: #dfecff;
  --color-dyScalePrimary95: #e4efff;
  --color-dyScalePrimary96: #eaf2ff;
  --color-dyScalePrimary97: #eff6ff;
  --color-dyScalePrimary98: #f4f9ff;
  --color-dyScalePrimary99: #fafcff;
  --color-dyAliasSyntaxComment: #5b6d89;
  --color-dyAliasSyntaxPunctuation: #96a2b6;
  --color-dyAliasText: #b9c1cf;
  --color-dyAliasTextDim: #8593aa;
  --color-dyAliasTextWidget: #e1e5eb;
  --color-dyAliasTextLink: #67a0ff;
  --color-dyAliasBorder: #28364b;
  --color-dyAliasBgMain: #080f1b;
  --color-dyAliasBgMainHover: #0f1828;
  --color-dyAliasBgAlt: #0f1828;
  --color-dyAliasBgAltHover: #162235;
  --color-dyAliasBgSub: #182438;
  --color-dyAliasBgSubHover: #1f2c40;
  --color-dyAliasBgWidget: #255ebd;
  --color-dyAliasBgWidgetHover: #1e51a4;
  --color-dyAliasFocusOutline: #3a83fc;
  --color-dyAliasSelection: #67a0ff33;
}

@layer theme {
  :root {
    @variant oceanLight {
      --color-dySyntaxType: #7a4900;
      --color-dySyntaxOperator: #7d2700;
      --color-dySyntaxKeyword: #a10227;
      --color-dySyntaxSpecial: #624093;
      --color-dySyntaxFunction: #0e4391;
      --color-dySyntaxString: #366314;
      --color-dySyntaxNumber: #773b73;
      --color-dyScaleNeutral01: #000000;
      --color-dyScaleNeutral02: #000000;
      --color-dyScaleNeutral03: #000000;
      --color-dyScaleNeutral04: #000000;
      --color-dyScaleNeutral05: #000001;
      --color-dyScaleNeutral06: #000101;
      --color-dyScaleNeutral07: #010102;
      --color-dyScaleNeutral08: #010203;
      --color-dyScaleNeutral09: #020205;
      --color-dyScaleNeutral10: #020306;
      --color-dyScaleNeutral11: #030408;
      --color-dyScaleNeutral12: #04060b;
      --color-dyScaleNeutral13: #05070d;
      --color-dyScaleNeutral14: #060910;
      --color-dyScaleNeutral15: #070b13;
      --color-dyScaleNeutral16: #090d15;
      --color-dyScaleNeutral17: #0a1018;
      --color-dyScaleNeutral18: #0c121b;
      --color-dyScaleNeutral19: #0e141e;
      --color-dyScaleNeutral20: #101621;
      --color-dyScaleNeutral21: #121824;
      --color-dyScaleNeutral22: #141b27;
      --color-dyScaleNeutral23: #151d2a;
      --color-dyScaleNeutral24: #171f2d;
      --color-dyScaleNeutral25: #192230;
      --color-dyScaleNeutral26: #1b2433;
      --color-dyScaleNeutral27: #1d2736;
      --color-dyScaleNeutral28: #1f2939;
      --color-dyScaleNeutral29: #212c3c;
      --color-dyScaleNeutral30: #232e40;
      --color-dyScaleNeutral31: #253143;
      --color-dyScaleNeutral32: #283346;
      --color-dyScaleNeutral33: #2a3649;
      --color-dyScaleNeutral34: #2c384d;
      --color-dyScaleNeutral35: #293b57;
      --color-dyScaleNeutral36: #2c3d59;
      --color-dyScaleNeutral37: #2f405b;
      --color-dyScaleNeutral38: #33435d;
      --color-dyScaleNeutral39: #36455f;
      --color-dyScaleNeutral40: #394861;
      --color-dyScaleNeutral41: #3a4b67;
      --color-dyScaleNeutral42: #3c4e6a;
      --color-dyScaleNeutral43: #3f506c;
      --color-dyScaleNeutral44: #42536f;
      --color-dyScaleNeutral45: #455672;
      --color-dyScaleNeutral46: #485974;
      --color-dyScaleNeutral47: #4b5b77;
      --color-dyScaleNeutral48: #4d5e7a;
      --color-dyScaleNeutral49: #50617c;
      --color-dyScaleNeutral50: #53647f;
      --color-dyScaleNeutral51: #566782;
      --color-dyScaleNeutral52: #596a85;
      --color-dyScaleNeutral53: #5c6d87;
      --color-dyScaleNeutral54: #5f6f8a;
      --color-dyScaleNeutral55: #62728d;
      --color-dyScaleNeutral56: #657590;
      --color-dyScaleNeutral57: #687892;
      --color-dyScaleNeutral58: #6b7b95;
      --color-dyScaleNeutral59: #6e7e98;
      --color-dyScaleNeutral60: #71819b;
      --color-dyScaleNeutral61: #74849e;
      --color-dyScaleNeutral62: #7787a0;
      --color-dyScaleNeutral63: #7a8aa3;
      --color-dyScaleNeutral64: #7e8da6;
      --color-dyScaleNeutral65: #8190a9;
      --color-dyScaleNeutral66: #8493ac;
      --color-dyScaleNeutral67: #8796af;
      --color-dyScaleNeutral68: #8a99b1;
      --color-dyScaleNeutral69: #8d9cb4;
      --color-dyScaleNeutral70: #919fb7;
      --color-dyScaleNeutral71: #94a2ba;
      --color-dyScaleNeutral72: #97a6bd;
      --color-dyScaleNeutral73: #9aa9c0;
      --color-dyScaleNeutral74: #9dacc3;
      --color-dyScaleNeutral75: #a1afc6;
      --color-dyScaleNeutral76: #a4b2c9;
      --color-dyScaleNeutral77: #a7b5cc;
      --color-dyScaleNeutral78: #aab8cf;
      --color-dyScaleNeutral79: #aebbd1;
      --color-dyScaleNeutral80: #b1bfd4;
      --color-dyScaleNeutral81: #b4c2d7;
      --color-dyScaleNeutral82: #b8c5da;
      --color-dyScaleNeutral83: #bbc8dd;
      --color-dyScaleNeutral84: #becbe0;
      --color-dyScaleNeutral85: #c2cfe3;
      --color-dyScaleNeutral86: #c6d2e5;
      --color-dyScaleNeutral87: #cad5e7;
      --color-dyScaleNeutral88: #ced8e9;
      --color-dyScaleNeutral89: #d2dbeb;
      --color-dyScaleNeutral90: #d6dfed;
      --color-dyScaleNeutral91: #dae2ee;
      --color-dyScaleNeutral92: #dee5f0;
      --color-dyScaleNeutral93: #e2e8f2;
      --color-dyScaleNeutral94: #e6ebf4;
      --color-dyScaleNeutral95: #eaeff6;
      --color-dyScaleNeutral96: #eef2f8;
      --color-dyScaleNeutral97: #f3f5fa;
      --color-dyScaleNeutral98: #f7f8fb;
      --color-dyScaleNeutral99: #fbfcfd;
      --color-dyScalePrimary01: #000000;
      --color-dyScalePrimary02: #000000;
      --color-dyScalePrimary03: #000000;
      --color-dyScalePrimary04: #000001;
      --color-dyScalePrimary05: #000002;
      --color-dyScalePrimary06: #000103;
      --color-dyScalePrimary07: #000105;
      --color-dyScalePrimary08: #000207;
      --color-dyScalePrimary09: #00020a;
      --color-dyScalePrimary10: #00030d;
      --color-dyScalePrimary11: #010411;
      --color-dyScalePrimary12: #010514;
      --color-dyScalePrimary13: #010718;
      --color-dyScalePrimary14: #01081b;
      --color-dyScalePrimary15: #020a1f;
      --color-dyScalePrimary16: #020c23;
      --color-dyScalePrimary17: #020e27;
      --color-dyScalePrimary18: #03102b;
      --color-dyScalePrimary19: #03122f;
      --color-dyScalePrimary20: #041433;
      --color-dyScalePrimary21: #041737;
      --color-dyScalePrimary22: #05193b;
      --color-dyScalePrimary23: #061b3f;
      --color-dyScalePrimary24: #071d43;
      --color-dyScalePrimary25: #071f47;
      --color-dyScalePrimary26: #08224c;
      --color-dyScalePrimary27: #092450;
      --color-dyScalePrimary28: #0a2654;
      --color-dyScalePrimary29: #0c2959;
      --color-dyScalePrimary30: #0d2b5d;
      --color-dyScalePrimary31: #0e2e62;
      --color-dyScalePrimary32: #0f3066;
      --color-dyScalePrimary33: #10326b;
      --color-dyScalePrimary34: #11356f;
      --color-dyScalePrimary35: #123774;
      --color-dyScalePrimary36: #133a79;
      --color-dyScalePrimary37: #153c7d;
      --color-dyScalePrimary38: #163f82;
      --color-dyScalePrimary39: #174187;
      --color-dyScalePrimary40: #18448c;
      --color-dyScalePrimary41: #194691;
      --color-dyScalePrimary42: #1b4995;
      --color-dyScalePrimary43: #1c4c9a;
      --color-dyScalePrimary44: #1d4e9f;
      --color-dyScalePrimary45: #1e51a4;
      --color-dyScalePrimary46: #2053a9;
      --color-dyScalePrimary47: #2156ae;
      --color-dyScalePrimary48: #2259b3;
      --color-dyScalePrimary49: #235bb8;
      --color-dyScalePrimary50: #255ebd;
      --color-dyScalePrimary51: #2661c2;
      --color-dyScalePrimary52: #2764c7;
      --color-dyScalePrimary53: #2866cd;
      --color-dyScalePrimary54: #2a69d2;
      --color-dyScalePrimary55: #2b6cd7;
      --color-dyScalePrimary56: #2c6fdc;
      --color-dyScalePrimary57: #2e71e1;
      --color-dyScalePrimary58: #2f74e7;
      --color-dyScalePrimary59: #3077ec;
      --color-dyScalePrimary60: #317af1;
      --color-dyScalePrimary61: #337df6;
      --color-dyScalePrimary62: #3480fc;
      --color-dyScalePrimary63: #3a83fc;
      --color-dyScalePrimary64: #4087fd;
      --color-dyScalePrimary65: #468bfd;
      --color-dyScalePrimary66: #4c8ffe;
      --color-dyScalePrimary67: #5192fe;
      --color-dyScalePrimary68: #5796ff;
      --color-dyScalePrimary69: #5c99ff;
      --color-dyScalePrimary70: #619dff;
      --color-dyScalePrimary71: #67a0ff;
      --color-dyScalePrimary72: #6ca4ff;
      --color-dyScalePrimary73: #71a7ff;
      --color-dyScalePrimary74: #77abff;
      --color-dyScalePrimary75: #7caeff;
      --color-dyScalePrimary76: #81b1ff;
      --color-dyScalePrimary77: #86b5ff;
      --color-dyScalePrimary78: #8cb8ff;
      --color-dyScalePrimary79: #91bcff;
      --color-dyScalePrimary80: #96bfff;
      --color-dyScalePrimary81: #9bc2ff;
      --color-dyScalePrimary82: #a0c5ff;
      --color-dyScalePrimary83: #a6c9ff;
      --color-dyScalePrimary84: #abccff;
      --color-dyScalePrimary85: #b0cfff;
      --color-dyScalePrimary86: #b5d2ff;
      --color-dyScalePrimary87: #bad6ff;
      --color-dyScalePrimary88: #c0d9ff;
      --color-dyScalePrimary89: #c5dcff;
      --color-dyScalePrimary90: #cadfff;
      --color-dyScalePrimary91: #cfe3ff;
      --color-dyScalePrimary92: #d5e6ff;
      --color-dyScalePrimary93: #dae9ff;
      --color-dyScalePrimary94: #dfecff;
      --color-dyScalePrimary95: #e4efff;
      --color-dyScalePrimary96: #eaf2ff;
      --color-dyScalePrimary97: #eff6ff;
      --color-dyScalePrimary98: #f4f9ff;
      --color-dyScalePrimary99: #fafcff;
      --color-dyAliasSyntaxComment: #53647f;
      --color-dyAliasSyntaxPunctuation: #293b57;
      --color-dyAliasText: #101621;
      --color-dyAliasTextDim: #53647f;
      --color-dyAliasTextWidget: #f7f8fb;
      --color-dyAliasTextLink: #18448c;
      --color-dyAliasBorder: #b8c5da;
      --color-dyAliasBgMain: #f7f8fb;
      --color-dyAliasBgMainHover: #eaeff6;
      --color-dyAliasBgAlt: #dee5f0;
      --color-dyAliasBgAltHover: #ced8e9;
      --color-dyAliasBgSub: #cad5e7;
      --color-dyAliasBgSubHover: #becbe0;
      --color-dyAliasBgWidget: #255ebd;
      --color-dyAliasBgWidgetHover: #1e51a4;
      --color-dyAliasFocusOutline: #3a83fc;
      --color-dyAliasSelection: #67a0ff33;
    }
    @variant violet {
      --color-dySyntaxType: #e0aa55;
      --color-dySyntaxOperator: #e68751;
      --color-dySyntaxKeyword: #ef5560;
      --color-dySyntaxSpecial: #9a73d7;
      --color-dySyntaxFunction: #5e8cd5;
      --color-dySyntaxString: #81b265;
      --color-dySyntaxNumber: #c987c3;
      --color-dyScaleNeutral01: #000000;
      --color-dyScaleNeutral02: #000000;
      --color-dyScaleNeutral03: #000000;
      --color-dyScaleNeutral04: #000000;
      --color-dyScaleNeutral05: #000001;
      --color-dyScaleNeutral06: #010101;
      --color-dyScaleNeutral07: #010102;
      --color-dyScaleNeutral08: #020103;
      --color-dyScaleNeutral09: #020204;
      --color-dyScaleNeutral10: #030306;
      --color-dyScaleNeutral11: #040408;
      --color-dyScaleNeutral12: #06050a;
      --color-dyScaleNeutral13: #07060d;
      --color-dyScaleNeutral14: #090810;
      --color-dyScaleNeutral15: #0b0a12;
      --color-dyScaleNeutral16: #0d0c15;
      --color-dyScaleNeutral17: #0f0e18;
      --color-dyScaleNeutral18: #11101b;
      --color-dyScaleNeutral19: #14121d;
      --color-dyScaleNeutral20: #161420;
      --color-dyScaleNeutral21: #181623;
      --color-dyScaleNeutral22: #1a1926;
      --color-dyScaleNeutral23: #1d1b29;
      --color-dyScaleNeutral24: #1f1d2c;
      --color-dyScaleNeutral25: #211f2f;
      --color-dyScaleNeutral26: #242232;
      --color-dyScaleNeutral27: #262435;
      --color-dyScaleNeutral28: #282637;
      --color-dyScaleNeutral29: #2b293a;
      --color-dyScaleNeutral30: #2d2b3d;
      --color-dyScaleNeutral31: #302e40;
      --color-dyScaleNeutral32: #323042;
      --color-dyScaleNeutral33: #353345;
      --color-dyScaleNeutral34: #373548;
      --color-dyScaleNeutral35: #3a384b;
      --color-dyScaleNeutral36: #3d3a4e;
      --color-dyScaleNeutral37: #3f3d51;
      --color-dyScaleNeutral38: #423f54;
      --color-dyScaleNeutral39: #444257;
      --color-dyScaleNeutral40: #47455a;
      --color-dyScaleNeutral41: #4a475d;
      --color-dyScaleNeutral42: #4c4a60;
      --color-dyScaleNeutral43: #4f4d63;
      --color-dyScaleNeutral44: #524f66;
      --color-dyScaleNeutral45: #555269;
      --color-dyScaleNeutral46: #57556c;
      --color-dyScaleNeutral47: #5a586f;
      --color-dyScaleNeutral48: #5d5a72;
      --color-dyScaleNeutral49: #605d75;
      --color-dyScaleNeutral50: #636078;
      --color-dyScaleNeutral51: #65637b;
      --color-dyScaleNeutral52: #68657e;
      --color-dyScaleNeutral53: #6b6882;
      --color-dyScaleNeutral54: #6e6b85;
      --color-dyScaleNeutral55: #716e88;
      --color-dyScaleNeutral56: #74718a;
      --color-dyScaleNeutral57: #77748d;
      --color-dyScaleNeutral58: #7a778f;
      --color-dyScaleNeutral59: #7c7a92;
      --color-dyScaleNeutral60: #7f7d95;
      --color-dyScaleNeutral61: #828097;
      --color-dyScaleNeutral62: #85839a;
      --color-dyScaleNeutral63: #88869c;
      --color-dyScaleNeutral64: #8b899f;
      --color-dyScaleNeutral65: #8e8ca1;
      --color-dyScaleNeutral66: #918fa4;
      --color-dyScaleNeutral67: #9493a7;
      --color-dyScaleNeutral68: #9896a9;
      --color-dyScaleNeutral69: #9b99ac;
      --color-dyScaleNeutral70: #9e9cae;
      --color-dyScaleNeutral71: #a19fb1;
      --color-dyScaleNeutral72: #a4a2b4;
      --color-dyScaleNeutral73: #a7a5b6;
      --color-dyScaleNeutral74: #aaa9b9;
      --color-dyScaleNeutral75: #adacbb;
      --color-dyScaleNeutral76: #b0afbe;
      --color-dyScaleNeutral77: #b4b2c1;
      --color-dyScaleNeutral78: #b7b6c3;
      --color-dyScaleNeutral79: #bab9c6;
      --color-dyScaleNeutral80: #bdbcc9;
      --color-dyScaleNeutral81: #c0bfcb;
      --color-dyScaleNeutral82: #c4c3ce;
      --color-dyScaleNeutral83: #c7c6d1;
      --color-dyScaleNeutral84: #cac9d3;
      --color-dyScaleNeutral85: #cdccd6;
      --color-dyScaleNeutral86: #d0d0d9;
      --color-dyScaleNeutral87: #d4d3dc;
      --color-dyScaleNeutral88: #d7d6de;
      --color-dyScaleNeutral89: #dadae1;
      --color-dyScaleNeutral90: #dedde4;
      --color-dyScaleNeutral91: #e1e0e6;
      --color-dyScaleNeutral92: #e4e4e9;
      --color-dyScaleNeutral93: #e7e7ec;
      --color-dyScaleNeutral94: #ebebef;
      --color-dyScaleNeutral95: #eeeef1;
      --color-dyScaleNeutral96: #f2f1f4;
      --color-dyScaleNeutral97: #f5f5f7;
      --color-dyScaleNeutral98: #f8f8fa;
      --color-dyScaleNeutral99: #fcfcfc;
      --color-dyScalePrimary01: #000000;
      --color-dyScalePrimary02: #000000;
      --color-dyScalePrimary03: #000000;
      --color-dyScalePrimary04: #000001;
      --color-dyScalePrimary05: #000002;
      --color-dyScalePrimary06: #010003;
      --color-dyScalePrimary07: #010104;
      --color-dyScalePrimary08: #020106;
      --color-dyScalePrimary09: #030109;
      --color-dyScalePrimary10: #03020c;
      --color-dyScalePrimary11: #050310;
      --color-dyScalePrimary12: #060313;
      --color-dyScalePrimary13: #080417;
      --color-dyScalePrimary14: #09051a;
      --color-dyScalePrimary15: #0c061e;
      --color-dyScalePrimary16: #0e0821;
      --color-dyScalePrimary17: #100925;
      --color-dyScalePrimary18: #120b29;
      --color-dyScalePrimary19: #140d2d;
      --color-dyScalePrimary20: #170f31;
      --color-dyScalePrimary21: #191135;
      --color-dyScalePrimary22: #1b1239;
      --color-dyScalePrimary23: #1e143d;
      --color-dyScalePrimary24: #201641;
      --color-dyScalePrimary25: #221845;
      --color-dyScalePrimary26: #251a49;
      --color-dyScalePrimary27: #271c4d;
      --color-dyScalePrimary28: #2a1e51;
      --color-dyScalePrimary29: #2c2056;
      --color-dyScalePrimary30: #2f225a;
      --color-dyScalePrimary31: #31245e;
      --color-dyScalePrimary32: #342663;
      --color-dyScalePrimary33: #362867;
      --color-dyScalePrimary34: #392a6c;
      --color-dyScalePrimary35: #3c2c70;
      --color-dyScalePrimary36: #3e2e75;
      --color-dyScalePrimary37: #413079;
      --color-dyScalePrimary38: #44327e;
      --color-dyScalePrimary39: #463482;
      --color-dyScalePrimary40: #493687;
      --color-dyScalePrimary41: #4c388c;
      --color-dyScalePrimary42: #4e3b90;
      --color-dyScalePrimary43: #513d95;
      --color-dyScalePrimary44: #543f9a;
      --color-dyScalePrimary45: #57419f;
      --color-dyScalePrimary46: #5a43a3;
      --color-dyScalePrimary47: #5c46a8;
      --color-dyScalePrimary48: #5f48ad;
      --color-dyScalePrimary49: #624ab2;
      --color-dyScalePrimary50: #654cb7;
      --color-dyScalePrimary51: #684fbc;
      --color-dyScalePrimary52: #6b51c1;
      --color-dyScalePrimary53: #6e53c6;
      --color-dyScalePrimary54: #7155cb;
      --color-dyScalePrimary55: #7458d0;
      --color-dyScalePrimary56: #775ad5;
      --color-dyScalePrimary57: #795cda;
      --color-dyScalePrimary58: #7c5fdf;
      --color-dyScalePrimary59: #7f61e4;
      --color-dyScalePrimary60: #8263e9;
      --color-dyScalePrimary61: #8566ee;
      --color-dyScalePrimary62: #8968f4;
      --color-dyScalePrimary63: #8b6df4;
      --color-dyScalePrimary64: #8e71f5;
      --color-dyScalePrimary65: #9075f6;
      --color-dyScalePrimary66: #937af6;
      --color-dyScalePrimary67: #967ef7;
      --color-dyScalePrimary68: #9982f8;
      --color-dyScalePrimary69: #9c86f8;
      --color-dyScalePrimary70: #9e8af9;
      --color-dyScalePrimary71: #a18ff9;
      --color-dyScalePrimary72: #a493fa;
      --color-dyScalePrimary73: #a797fa;
      --color-dyScalePrimary74: #aa9bfb;
      --color-dyScalePrimary75: #ad9ffb;
      --color-dyScalePrimary76: #b0a3fc;
      --color-dyScalePrimary77: #b3a7fc;
      --color-dyScalePrimary78: #b6aafc;
      --color-dyScalePrimary79: #b9aefd;
      --color-dyScalePrimary80: #bcb2fd;
      --color-dyScalePrimary81: #c0b6fe;
      --color-dyScalePrimary82: #c3bafe;
      --color-dyScalePrimary83: #c6befe;
      --color-dyScalePrimary84: #c9c2fe;
      --color-dyScalePrimary85: #ccc6ff;
      --color-dyScalePrimary86: #d0c9ff;
      --color-dyScalePrimary87: #d3cdff;
      --color-dyScalePrimary88: #d6d1ff;
      --color-dyScalePrimary89: #d9d5ff;
      --color-dyScalePrimary90: #ddd9ff;
      --color-dyScalePrimary91: #e0ddff;
      --color-dyScalePrimary92: #e3e0ff;
      --color-dyScalePrimary93: #e7e4ff;
      --color-dyScalePrimary94: #eae8ff;
      --color-dyScalePrimary95: #eeecff;
      --color-dyScalePrimary96: #f1f0ff;
      --color-dyScalePrimary97: #f5f4ff;
      --color-dyScalePrimary98: #f8f7ff;
      --color-dyScalePrimary99: #fbfbff;
      --color-dyAliasSyntaxComment: #6b6882;
      --color-dyAliasSyntaxPunctuation: #a19fb1;
      --color-dyAliasText: #c0bfcb;
      --color-dyAliasTextDim: #918fa4;
      --color-dyAliasTextWidget: #e4e4e9;
      --color-dyAliasTextLink: #a18ff9;
      --color-dyAliasBorder: #353345;
      --color-dyAliasBgMain: #0f0e18;
      --color-dyAliasBgMainHover: #181623;
      --color-dyAliasBgAlt: #181623;
      --color-dyAliasBgAltHover: #211f2f;
      --color-dyAliasBgSub: #242232;
      --color-dyAliasBgSubHover: #2b293a;
      --color-dyAliasBgWidget: #654cb7;
      --color-dyAliasBgWidgetHover: #57419f;
      --color-dyAliasFocusOutline: #8b6df4;
      --color-dyAliasSelection: #a18ff933;
    }
    @variant violetLight {
      --color-dySyntaxType: #7a4900;
      --color-dySyntaxOperator: #7d2700;
      --color-dySyntaxKeyword: #a50024;
      --color-dySyntaxSpecial: #624093;
      --color-dySyntaxFunction: #204682;
      --color-dySyntaxString: #366314;
      --color-dySyntaxNumber: #773b73;
      --color-dyScaleNeutral01: #000000;
      --color-dyScaleNeutral02: #000000;
      --color-dyScaleNeutral03: #000000;
      --color-dyScaleNeutral04: #000001;
      --color-dyScaleNeutral05: #000001;
      --color-dyScaleNeutral06: #010102;
      --color-dyScaleNeutral07: #010103;
      --color-dyScaleNeutral08: #020104;
      --color-dyScaleNeutral09: #020206;
      --color-dyScaleNeutral10: #030308;
      --color-dyScaleNeutral11: #04030b;
      --color-dyScaleNeutral12: #06040e;
      --color-dyScaleNeutral13: #070611;
      --color-dyScaleNeutral14: #090714;
      --color-dyScaleNeutral15: #0b0917;
      --color-dyScaleNeutral16: #0d0b1a;
      --color-dyScaleNeutral17: #0f0d1d;
      --color-dyScaleNeutral18: #110e20;
      --color-dyScaleNeutral19: #141024;
      --color-dyScaleNeutral20: #161227;
      --color-dyScaleNeutral21: #18152a;
      --color-dyScaleNeutral22: #1a172d;
      --color-dyScaleNeutral23: #1d1930;
      --color-dyScaleNeutral24: #1f1b33;
      --color-dyScaleNeutral25: #211e36;
      --color-dyScaleNeutral26: #242039;
      --color-dyScaleNeutral27: #26223c;
      --color-dyScaleNeutral28: #29243f;
      --color-dyScaleNeutral29: #2b2742;
      --color-dyScaleNeutral30: #2d2945;
      --color-dyScaleNeutral31: #302c48;
      --color-dyScaleNeutral32: #322e4c;
      --color-dyScaleNeutral33: #35304f;
      --color-dyScaleNeutral34: #383352;
      --color-dyScaleNeutral35: #3a3555;
      --color-dyScaleNeutral36: #3d3858;
      --color-dyScaleNeutral37: #3f3b5b;
      --color-dyScaleNeutral38: #423d5d;
      --color-dyScaleNeutral39: #444060;
      --color-dyScaleNeutral40: #474362;
      --color-dyScaleNeutral41: #4a4665;
      --color-dyScaleNeutral42: #4c4868;
      --color-dyScaleNeutral43: #4f4b6a;
      --color-dyScaleNeutral44: #524e6d;
      --color-dyScaleNeutral45: #555170;
      --color-dyScaleNeutral46: #575373;
      --color-dyScaleNeutral47: #5a5675;
      --color-dyScaleNeutral48: #5d5978;
      --color-dyScaleNeutral49: #605c7b;
      --color-dyScaleNeutral50: #625f7d;
      --color-dyScaleNeutral51: #656280;
      --color-dyScaleNeutral52: #686583;
      --color-dyScaleNeutral53: #6b6786;
      --color-dyScaleNeutral54: #6e6a89;
      --color-dyScaleNeutral55: #716d8b;
      --color-dyScaleNeutral56: #74708e;
      --color-dyScaleNeutral57: #777391;
      --color-dyScaleNeutral58: #797694;
      --color-dyScaleNeutral59: #7c7997;
      --color-dyScaleNeutral60: #7f7c99;
      --color-dyScaleNeutral61: #827f9c;
      --color-dyScaleNeutral62: #85829f;
      --color-dyScaleNeutral63: #8885a2;
      --color-dyScaleNeutral64: #8b88a5;
      --color-dyScaleNeutral65: #8e8ba8;
      --color-dyScaleNeutral66: #918eab;
      --color-dyScaleNeutral67: #9491ae;
      --color-dyScaleNeutral68: #9794b0;
      --color-dyScaleNeutral69: #9a98b3;
      --color-dyScaleNeutral70: #9d9bb6;
      --color-dyScaleNeutral71: #a19eb9;
      --color-dyScaleNeutral72: #a4a1bb;
      --color-dyScaleNeutral73: #a7a4bd;
      --color-dyScaleNeutral74: #aaa8c0;
      --color-dyScaleNeutral75: #adabc2;
      --color-dyScaleNeutral76: #b0aec5;
      --color-dyScaleNeutral77: #b3b1c7;
      --color-dyScaleNeutral78: #b7b5c9;
      --color-dyScaleNeutral79: #bab8cc;
      --color-dyScaleNeutral80: #bdbbce;
      --color-dyScaleNeutral81: #c0bed1;
      --color-dyScaleNeutral82: #c3c2d3;
      --color-dyScaleNeutral83: #c7c5d5;
      --color-dyScaleNeutral84: #cac8d8;
      --color-dyScaleNeutral85: #cdccda;
      --color-dyScaleNeutral86: #d0cfdd;
      --color-dyScaleNeutral87: #d4d3df;
      --color-dyScaleNeutral88: #d7d6e2;
      --color-dyScaleNeutral89: #dad9e4;
      --color-dyScaleNeutral90: #dddde7;
      --color-dyScaleNeutral91: #e1e0e9;
      --color-dyScaleNeutral92: #e4e3eb;
      --color-dyScaleNeutral93: #e7e7ee;
      --color-dyScaleNeutral94: #ebeaf0;
      --color-dyScaleNeutral95: #eeeef3;
      --color-dyScaleNeutral96: #f1f1f5;
      --color-dyScaleNeutral97: #f5f5f8;
      --color-dyScaleNeutral98: #f8f8fa;
      --color-dyScaleNeutral99: #fcfcfd;
      --color-dyScalePrimary01: #000000;
      --color-dyScalePrimary02: #000000;
      --color-dyScalePrimary03: #000000;
      --color-dyScalePrimary04: #000001;
      --color-dyScalePrimary05: #000002;
      --color-dyScalePrimary06: #010003;
      --color-dyScalePrimary07: #010104;
      --color-dyScalePrimary08: #020106;
      --color-dyScalePrimary09: #030109;
      --color-dyScalePrimary10: #03020c;
      --color-dyScalePrimary11: #050310;
      --color-dyScalePrimary12: #060313;
      --color-dyScalePrimary13: #080417;
      --color-dyScalePrimary14: #09051a;
      --color-dyScalePrimary15: #0c061e;
      --color-dyScalePrimary16: #0e0821;
      --color-dyScalePrimary17: #100925;
      --color-dyScalePrimary18: #120b29;
      --color-dyScalePrimary19: #140d2d;
      --color-dyScalePrimary20: #170f31;
      --color-dyScalePrimary21: #191135;
      --color-dyScalePrimary22: #1b1239;
      --color-dyScalePrimary23: #1e143d;
      --color-dyScalePrimary24: #201641;
      --color-dyScalePrimary25: #221845;
      --color-dyScalePrimary26: #251a49;
      --color-dyScalePrimary27: #271c4d;
      --color-dyScalePrimary28: #2a1e51;
      --color-dyScalePrimary29: #2c2056;
      --color-dyScalePrimary30: #2f225a;
      --color-dyScalePrimary31: #31245e;
      --color-dyScalePrimary32: #342663;
      --color-dyScalePrimary33: #362867;
      --color-dyScalePrimary34: #392a6c;
      --color-dyScalePrimary35: #3c2c70;
      --color-dyScalePrimary36: #3e2e75;
      --color-dyScalePrimary37: #413079;
      --color-dyScalePrimary38: #44327e;
      --color-dyScalePrimary39: #463482;
      --color-dyScalePrimary40: #493687;
      --color-dyScalePrimary41: #4c388c;
      --color-dyScalePrimary42: #4e3b90;
      --color-dyScalePrimary43: #513d95;
      --color-dyScalePrimary44: #543f9a;
      --color-dyScalePrimary45: #57419f;
      --color-dyScalePrimary46: #5a43a3;
      --color-dyScalePrimary47: #5c46a8;
      --color-dyScalePrimary48: #5f48ad;
      --color-dyScalePrimary49: #624ab2;
      --color-dyScalePrimary50: #654cb7;
      --color-dyScalePrimary51: #684fbc;
      --color-dyScalePrimary52: #6b51c1;
      --color-dyScalePrimary53: #6e53c6;
      --color-dyScalePrimary54: #7155cb;
      --color-dyScalePrimary55: #7458d0;
      --color-dyScalePrimary56: #775ad5;
      --color-dyScalePrimary57: #795cda;
      --color-dyScalePrimary58: #7c5fdf;
      --color-dyScalePrimary59: #7f61e4;
      --color-dyScalePrimary60: #8263e9;
      --color-dyScalePrimary61: #8566ee;
      --color-dyScalePrimary62: #8968f4;
      --color-dyScalePrimary63: #8b6df4;
      --color-dyScalePrimary64: #8e71f5;
      --color-dyScalePrimary65: #9075f6;
      --color-dyScalePrimary66: #937af6;
      --color-dyScalePrimary67: #967ef7;
      --color-dyScalePrimary68: #9982f8;
      --color-dyScalePrimary69: #9c86f8;
      --color-dyScalePrimary70: #9e8af9;
      --color-dyScalePrimary71: #a18ff9;
      --color-dyScalePrimary72: #a493fa;
      --color-dyScalePrimary73: #a797fa;
      --color-dyScalePrimary74: #aa9bfb;
      --color-dyScalePrimary75: #ad9ffb;
      --color-dyScalePrimary76: #b0a3fc;
      --color-dyScalePrimary77: #b3a7fc;
      --color-dyScalePrimary78: #b6aafc;
      --color-dyScalePrimary79: #b9aefd;
      --color-dyScalePrimary80: #bcb2fd;
      --color-dyScalePrimary81: #c0b6fe;
      --color-dyScalePrimary82: #c3bafe;
      --color-dyScalePrimary83: #c6befe;
      --color-dyScalePrimary84: #c9c2fe;
      --color-dyScalePrimary85: #ccc6ff;
      --color-dyScalePrimary86: #d0c9ff;
      --color-dyScalePrimary87: #d3cdff;
      --color-dyScalePrimary88: #d6d1ff;
      --color-dyScalePrimary89: #d9d5ff;
      --color-dyScalePrimary90: #ddd9ff;
      --color-dyScalePrimary91: #e0ddff;
      --color-dyScalePrimary92: #e3e0ff;
      --color-dyScalePrimary93: #e7e4ff;
      --color-dyScalePrimary94: #eae8ff;
      --color-dyScalePrimary95: #eeecff;
      --color-dyScalePrimary96: #f1f0ff;
      --color-dyScalePrimary97: #f5f4ff;
      --color-dyScalePrimary98: #f8f7ff;
      --color-dyScalePrimary99: #fbfbff;
      --color-dyAliasSyntaxComment: #625f7d;
      --color-dyAliasSyntaxPunctuation: #3a3555;
      --color-dyAliasText: #161227;
      --color-dyAliasTextDim: #625f7d;
      --color-dyAliasTextWidget: #f8f8fa;
      --color-dyAliasTextLink: #493687;
      --color-dyAliasBorder: #c3c2d3;
      --color-dyAliasBgMain: #f8f8fa;
      --color-dyAliasBgMainHover: #eeeef3;
      --color-dyAliasBgAlt: #e4e3eb;
      --color-dyAliasBgAltHover: #d7d6e2;
      --color-dyAliasBgSub: #d4d3df;
      --color-dyAliasBgSubHover: #cac8d8;
      --color-dyAliasBgWidget: #654cb7;
      --color-dyAliasBgWidgetHover: #57419f;
      --color-dyAliasFocusOutline: #8b6df4;
      --color-dyAliasSelection: #a18ff933;
    }
  }
}
